.lightboxBg {
  background: url(../img/bg-blue-box.png);
  color: #FFF;
  font-size: 300%;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.lightboxBg p {
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.scene {
	background-position: top center;
	/*background-repeat: repeat-x;*/
	color: #FFF;
	/*font-size: 160%;*/
	text-align: left;
	min-width: 900px;
}

.sceneContent {
	margin: 0 auto;
	position: relative;
	width: 1100px;
}

.scene1 {
	padding: 30px 0;
}

.scene2 {
  /*margin: 0 0 -10px;*/
  position: relative;
  z-index: 4;
}

.scene3 {
  /*background-color: #18c1f3;*/
  padding: 20px 0;
  margin: 0 0 -10px; 
  margin: 0 auto;
  /*margin: 0 0 -110px;*/
}

.scene3 p {
  /*width: 870px;*/
}

.scene5 {
  /*background-repeat: repeat;*/
}

.explanationBlue {
  background: url(../img/bg-blue-box.png);
  color: #FFF;
  padding: 20px 50px;
  text-align: center;
  -webkit-box-shadow: 0 8px 6px -4px #415b74;
  -moz-box-shadow: 0 8px 6px -4px #415b74;
  box-shadow: 0 8px 6px -4px #415b74;
}

.explanationBlue strong { text-shadow: 0 2px 4px #0e4276; display: inline-block; font-size: 150%; text-transform: uppercase; margin: 0 0 10px; }

.explanationOrange {
	background: url(../img/bg-arrow.png) no-repeat left center; 
	width: 26%;
	padding:  0 0 0 40px;
	right: -54px !important;
}

.explanationOrange span { padding: 15px; display: block; border: 5px solid #fff; background: #f96a1d; }
.explanationOrange strong { background: url(../img/bg-double-border.png) repeat-x bottom left; width: 90%; text-shadow: 0 2px 4px #bb531c; display: inline-block; font-size: 120%; text-transform: uppercase; padding: 0 0 15px; margin: 0 0 10px; }

.explanation1 {
	position: absolute;
	top: 45px;
}

.explanation2 {
	position: absolute;
	top: 240px;
}

.explanation3 {
	position: absolute;
	top: 870px;
	left: 30px;
	background: url(../img/bg-arrow.png) no-repeat right center;  /* for arrow */
	padding:  0 40px 0 0;
	z-index: 4;
	/*margin-left: -60px; width: 300px;*/
}

.explanation4 {
	position: absolute;
	top: 700px;
	width: 35%;
	left: 130px; 
	background: url(../img/bg-arrow.png) no-repeat right center;  /* for arrow */
	padding:  0 40px 0 0;
	z-index: 4;
}

.explanation4 span { padding: 30px; background-color: #43403e; }
.explanation4 strong { text-shadow: 0 2px 4px #666; }

.explanation5 {
	position: absolute;
	top: 2000px;
	right: 10px !important;
	/*width: 800px; left: 50%; margin-left: -440px;*/
	z-index: 4;
}

.explanation5 span { background-color: #43403e;  }
.explanation5 strong { text-shadow: 0 2px 4px #666; }


.explanation6 {
	position: absolute;
	top: 3550px;
	/*width: 800px; margin-left: -440px; left: 50%; */
	z-index: 4;
	background: url(../img/bg-arrow.png) no-repeat top right; 
	padding: 30px 0 0;
	width: 35%;
}

.explanation6 span { padding: 20px; background-color: #43403e;  }
.explanation6 strong { text-shadow: 0 2px 4px #666; }

.explanation7 {
	position: absolute;
	top: 90px;
	width: 32%;
	background-image: none;
	background-color: #f67630;
}

.explanation7 strong { text-shadow: 0 2px 4px #bb531c }

.scene4 {
  position: relative;
}

.scene4Worker {
  background-position: top center;
  background-repeat: no-repeat;
  height: 1799px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.scene4Hand1 {
	left: 470px;
	position: absolute;
	top: 387px;
}

.scene4Hand2 {
	left: 802px;
	position: absolute;
	top: 387px;
}

.scene4Box1 {
	left: 451px;
	position: absolute;
	top: 416px;
}



.scene4Box2 {
	left: 660px;
	position: absolute;
	top: 416px;
}

.scene4Box3 {
	left: 996px;
	position: absolute;
	top: 416px;
}

.scene4Machine1 {
	left: 182px;
  position: absolute;
  top: 1341px;
}

.scene4Machine2 {
	left: 506px;
	position: absolute;
	top: 1341px;
}

.scene4Machine3 {
	left: 829px;
	position: absolute;
	top: 1341px;
}

.scene4Banana {
	left: 212px;
	position: absolute;
	top: 1345px;
}

.scene4Rice {
	left: 517px;
	position: absolute;
	top: 1345px;
}

.scene4Fish {
	left: 828px;
	position: absolute;
	top: 1345px;
}

.scene5 {
	padding: 40px 0 30px;
}

.sceneWrapper5 {
  position: relative;
  z-index: 3;  
}

.scene5 .explanationBlue { padding: 13px 10px; text-align: left; }
.scene5 strong { padding: 8px 0 0; width: 28%; text-align: right; }
.scene5 span { width: 70%; }

.scene6 {
	position: relative;
	z-index: 3;
}

.scene6Goods {
	left: 586px;
	position: absolute;
	top: 140px;
}

.scene6Worker {
	left: 660px;
	position: absolute;
	top: 75px;
}

.scene6Truck {
	left: 560px;
	position: absolute;
	top: 370px;
}

.scene6House {
	background-position: top center;
	background-repeat: no-repeat;
	height: 4668px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3;
}

.scene7DeliveryGuy {
	left: 680px;
  position: absolute;
  top: 101px;
}



















.scene4Box1 {
  animation: animationFrames linear 4s;
  animation-iteration-count: 999;
  transform-origin: ;
  -webkit-animation: animationFrames linear 4s;
  -webkit-animation-iteration-count: 999;
  -webkit-transform-origin: ;
  -moz-animation: animationFrames linear 4s;
  -moz-animation-iteration-count: 999;
  -moz-transform-origin: ;
  -o-animation: animationFrames linear 4s;
  -o-animation-iteration-count: 999;
  -o-transform-origin: ;
  -ms-animation: animationFrames linear 4s;
  -ms-animation-iteration-count: 999;
  -ms-transform-origin: ;
}

@keyframes animationFrames{
  0% {
    left:451px;
    top:495px;
    opacity:0;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  10% {
    left:451px;
    top:525px;
    opacity:1;
  }
  20% {
    left:342px;
    top:525px;
  }
  90% {
    left:342px;
    top:1284px;
  }
  100% {
    left:284px;
    top:1284px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    left:451px;
    top:495px;
    opacity:0;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  10% {
    left:451px;
    top:525px;
    opacity:1;
  }
  20% {
    left:342px;
    top:525px;
  }
  90% {
    left:342px;
    top:1284px;
  }
  100% {
    left:284px;
    top:1284px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    left:451px;
    top:495px;
    opacity:0;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  10% {
    left:451px;
    top:525px;
    opacity:1;
  }
  20% {
    left:342px;
    top:525px;
  }
  90% {
    left:342px;
    top:1284px;
  }
  100% {
    left:284px;
    top:1284px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    left:451px;
    top:495px;
    opacity:0;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  10% {
    left:451px;
    top:525px;
    opacity:1;
  }
  20% {
    left:342px;
    top:525px;
  }
  90% {
    left:342px;
    top:1284px;
  }
  100% {
    left:284px;
    top:1284px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    left:451px;
    top:495px;
    opacity:0;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  10% {
    left:451px;
    top:525px;
    opacity:1;
  }
  20% {
    left:342px;
    top:525px;
  }
  90% {
    left:342px;
    top:1284px;
  }
  100% {
    left:284px;
    top:1284px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}












.scene4Hand1 {
  animation: animationFrames2 linear 4s;
  animation-iteration-count: 999;
  transform-origin: ;
  -webkit-animation: animationFrames2 linear 4s;
  -webkit-animation-iteration-count: 999;
  -webkit-transform-origin: ;
  -moz-animation: animationFrames2 linear 4s;
  -moz-animation-iteration-count: 999;
  -moz-transform-origin: ;
  -o-animation: animationFrames2 linear 4s;
  -o-animation-iteration-count: 999;
  -o-transform-origin: ;
  -ms-animation: animationFrames2 linear 4s;
  -ms-animation-iteration-count: 999;
  -ms-transform-origin: ;
}

@keyframes animationFrames2{
  0% {
    left:470px;
    top:493px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  10% {
    left:470px;
    top:493px;
    opacity:1;
  }
  20% {
    left:360px;
    top:493px;
    opacity:1;
  }
  100% {
    left:470px;
    top:493px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-moz-keyframes animationFrames2{
  0% {
    left:470px;
    top:493px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  10% {
    left:470px;
    top:493px;
    opacity:1;
  }
  20% {
    left:360px;
    top:493px;
    opacity:1;
  }
  100% {
    left:470px;
    top:493px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-webkit-keyframes animationFrames2 {
  0% {
    left:470px;
    top:493px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  10% {
    left:470px;
    top:493px;
    opacity:1;
  }
  20% {
    left:360px;
    top:493px;
    opacity:1;
  }
  100% {
    left:470px;
    top:493px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-o-keyframes animationFrames2 {
  0% {
    left:470px;
    top:493px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  10% {
    left:470px;
    top:493px;
    opacity:1;
  }
  20% {
    left:360px;
    top:493px;
    opacity:1;
  }
  100% {
    left:470px;
    top:493px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-ms-keyframes animationFrames2 {
  0% {
    left:470px;
    top:493px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  10% {
    left:470px;
    top:493px;
    opacity:1;
  }
  20% {
    left:360px;
    top:493px;
    opacity:1;
  }
  100% {
    left:470px;
    top:493px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}









.scene4Box2 {
  animation: animationFrames3 linear 4s;
  animation-iteration-count: 999;
  transform-origin: ;
  -webkit-animation: animationFrames3 linear 4s;
  -webkit-animation-iteration-count: 999;
  -webkit-transform-origin: ;
  -moz-animation: animationFrames3 linear 4s;
  -moz-animation-iteration-count: 999;
  -moz-transform-origin: ;
  -o-animation: animationFrames3 linear 4s;
  -o-animation-iteration-count: 999;
  -o-transform-origin: ;
  -ms-animation: animationFrames3 linear 4s;
  -ms-animation-iteration-count: 999;
  -ms-transform-origin: ;
}

@keyframes animationFrames3{
  0% {
    left:600px;
    top:525px;
    opacity:0;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:660px;
    top:525px;
    opacity:1;
  }
  90% {
    left:660px;
    top:1284px;
    opacity:1;
  }
  100% {
    left:608px;
    top:1284px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-moz-keyframes animationFrames3{
  0% {
    left:600px;
    top:525px;
    opacity:0;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:660px;
    top:525px;
    opacity:1;
  }
  90% {
    left:660px;
    top:1284px;
    opacity:1;
  }
  100% {
    left:608px;
    top:1284px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-webkit-keyframes animationFrames3 {
  0% {
    left:600px;
    top:525px;
    opacity:0;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:660px;
    top:525px;
    opacity:1;
  }
  90% {
    left:660px;
    top:1284px;
    opacity:1;
  }
  100% {
    left:608px;
    top:1284px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-o-keyframes animationFrames3 {
  0% {
    left:600px;
    top:525px;
    opacity:0;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:660px;
    top:525px;
    opacity:1;
  }
  90% {
    left:660px;
    top:1284px;
    opacity:1;
  }
  100% {
    left:608px;
    top:1284px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-ms-keyframes animationFrames3 {
  0% {
    left:600px;
    top:525px;
    opacity:0;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:660px;
    top:525px;
    opacity:1;
  }
  90% {
    left:660px;
    top:1284px;
    opacity:1;
  }
  100% {
    left:608px;
    top:1284px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

















.scene4Box3 {
  animation: animationFrames4 linear 4s;
  animation-iteration-count: 999;
  transform-origin: ;
  -webkit-animation: animationFrames4 linear 4s;
  -webkit-animation-iteration-count: 999;
  -webkit-transform-origin: ;
  -moz-animation: animationFrames4 linear 4s;
  -moz-animation-iteration-count: 999;
  -moz-transform-origin: ;
  -o-animation: animationFrames4 linear 4s;
  -o-animation-iteration-count: 999;
  -o-transform-origin: ;
  -ms-animation: animationFrames4 linear 4s;
  -ms-animation-iteration-count: 999;
  -ms-transform-origin: ;
}

@keyframes animationFrames4{
  0% {
    left:783px;
    top:495px;
    opacity:0;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:783px;
    top:525px;
    opacity:1;
  }
  20% {
    left:996px;
    top:525px;
    opacity:1;
  }
  90% {
    left:996px;
    top:1284px;
    opacity:1;
  }
  100% {
    left:932px;
    top:1284px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-moz-keyframes animationFrames4{
  0% {
    left:783px;
    top:495px;
    opacity:0;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:783px;
    top:525px;
    opacity:1;
  }
  20% {
    left:996px;
    top:525px;
    opacity:1;
  }
  90% {
    left:996px;
    top:1284px;
    opacity:1;
  }
  100% {
    left:932px;
    top:1284px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-webkit-keyframes animationFrames4 {
  0% {
    left:783px;
    top:495px;
    opacity:0;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:783px;
    top:525px;
    opacity:1;
  }
  20% {
    left:996px;
    top:525px;
    opacity:1;
  }
  90% {
    left:996px;
    top:1284px;
    opacity:1;
  }
  100% {
    left:932px;
    top:1284px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-o-keyframes animationFrames4 {
  0% {
    left:783px;
    top:495px;
    opacity:0;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:783px;
    top:525px;
    opacity:1;
  }
  20% {
    left:996px;
    top:525px;
    opacity:1;
  }
  90% {
    left:996px;
    top:1284px;
    opacity:1;
  }
  100% {
    left:932px;
    top:1284px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-ms-keyframes animationFrames4 {
  0% {
    left:783px;
    top:495px;
    opacity:0;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:783px;
    top:525px;
    opacity:1;
  }
  20% {
    left:996px;
    top:525px;
    opacity:1;
  }
  90% {
    left:996px;
    top:1284px;
    opacity:1;
  }
  100% {
    left:932px;
    top:1284px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}














.scene4Hand2 {
  animation: animationFrames5 linear 4s;
  animation-iteration-count: 999;
  transform-origin: ;
  -webkit-animation: animationFrames5 linear 4s;
  -webkit-animation-iteration-count: 999;
  -webkit-transform-origin: ;
  -moz-animation: animationFrames5 linear 4s;
  -moz-animation-iteration-count: 999;
  -moz-transform-origin: ;
  -o-animation: animationFrames5 linear 4s;
  -o-animation-iteration-count: 999;
  -o-transform-origin: ;
  -ms-animation: animationFrames5 linear 4s;
  -ms-animation-iteration-count: 999;
  -ms-transform-origin: ;
}

@keyframes animationFrames5{
  0% {
    left:802px;
    top:493px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:802px;
    top:493px;
  }
  20% {
    left:921px;
    top:493px;
    transform:  rotate(0deg) ;
  }
  100% {
    left:802px;
    top:493px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-moz-keyframes animationFrames5{
  0% {
    left:802px;
    top:493px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:802px;
    top:493px;
  }
  20% {
    left:921px;
    top:493px;
    -moz-transform:  rotate(0deg) ;
  }
  100% {
    left:802px;
    top:493px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-webkit-keyframes animationFrames5 {
  0% {
    left:802px;
    top:493px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:802px;
    top:493px;
  }
  20% {
    left:921px;
    top:493px;
    -webkit-transform:  rotate(0deg) ;
  }
  100% {
    left:802px;
    top:493px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-o-keyframes animationFrames5 {
  0% {
    left:802px;
    top:493px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:802px;
    top:493px;
  }
  20% {
    left:921px;
    top:493px;
    -o-transform:  rotate(0deg) ;
  }
  100% {
    left:802px;
    top:493px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-ms-keyframes animationFrames5 {
  0% {
    left:802px;
    top:493px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  10% {
    left:802px;
    top:493px;
  }
  20% {
    left:921px;
    top:493px;
    -ms-transform:  rotate(0deg) ;
  }
  100% {
    left:802px;
    top:493px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}











.scene4Banana {
  animation: animationFrames6 linear 4s;
  animation-iteration-count: 999;
  transform-origin: ;
  -webkit-animation: animationFrames6 linear 4s;
  -webkit-animation-iteration-count: 999;
  -webkit-transform-origin: ;
  -moz-animation: animationFrames6 linear 4s;
  -moz-animation-iteration-count: 999;
  -moz-transform-origin: ;
  -o-animation: animationFrames6 linear 4s;
  -o-animation-iteration-count: 999;
  -o-transform-origin: ;
  -ms-animation: animationFrames6 linear 4s;
  -ms-animation-iteration-count: 999;
  -ms-transform-origin: ;
}

@keyframes animationFrames6{
  0% {
    left:212px;
    top:1345px;
    opacity:0;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:212px;
    top:2280px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-moz-keyframes animationFrames6{
  0% {
    left:212px;
    top:1345px;
    opacity:0;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:212px;
    top:2280px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-webkit-keyframes animationFrames6 {
  0% {
    left:212px;
    top:1345px;
    opacity:0;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:212px;
    top:2280px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-o-keyframes animationFrames6 {
  0% {
    left:212px;
    top:1345px;
    opacity:0;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:212px;
    top:2280px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-ms-keyframes animationFrames6 {
  0% {
    left:212px;
    top:1345px;
    opacity:0;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:212px;
    top:2280px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}








.scene4Rice {
  margin-left: 308px;
  animation: animationFrames6 linear 4s;
  animation-iteration-count: 999;
  transform-origin: ;
  -webkit-animation: animationFrames6 linear 4s;
  -webkit-animation-iteration-count: 999;
  -webkit-transform-origin: ;
  -moz-animation: animationFrames6 linear 4s;
  -moz-animation-iteration-count: 999;
  -moz-transform-origin: ;
  -o-animation: animationFrames6 linear 4s;
  -o-animation-iteration-count: 999;
  -o-transform-origin: ;
  -ms-animation: animationFrames6 linear 4s;
  -ms-animation-iteration-count: 999;
  -ms-transform-origin: ;
}

/*@keyframes animationFrames7{
  0% {
    left:517px;
    top:1345px;
    opacity:0;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:517px;
    top:2280px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-moz-keyframes animationFrames7{
  0% {
    left:517px;
    top:1345px;
    opacity:0;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:517px;
    top:2280px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-webkit-keyframes animationFrames7 {
  0% {
    left:517px;
    top:1345px;
    opacity:0;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:517px;
    top:2280px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-o-keyframes animationFrames7 {
  0% {
    left:517px;
    top:1345px;
    opacity:0;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:517px;
    top:2280px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-ms-keyframes animationFrames7 {
  0% {
    left:517px;
    top:1345px;
    opacity:0;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:517px;
    top:2280px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}*/









.scene4Fish {
  margin-left: 618px;
  animation: animationFrames6 linear 4s;
  animation-iteration-count: 999;
  transform-origin: ;
  -webkit-animation: animationFrames6 linear 4s;
  -webkit-animation-iteration-count: 999;
  -webkit-transform-origin: ;
  -moz-animation: animationFrames6 linear 4s;
  -moz-animation-iteration-count: 999;
  -moz-transform-origin: ;
  -o-animation: animationFrames6 linear 4s;
  -o-animation-iteration-count: 999;
  -o-transform-origin: ;
  -ms-animation: animationFrames6 linear 4s;
  -ms-animation-iteration-count: 999;
  -ms-transform-origin: ;
}

/*@keyframes animationFrames8{
  0% {
    left:828px;
    top:1345px;
    opacity:0;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:828px;
    top:2280px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-moz-keyframes animationFrames8{
  0% {
    left:828px;
    top:1345px;
    opacity:0;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:828px;
    top:2280px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-webkit-keyframes animationFrames8 {
  0% {
    left:828px;
    top:1345px;
    opacity:0;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:828px;
    top:2280px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-o-keyframes animationFrames8 {
  0% {
    left:828px;
    top:1345px;
    opacity:0;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:828px;
    top:2280px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-ms-keyframes animationFrames8 {
  0% {
    left:828px;
    top:1345px;
    opacity:0;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  13% {
    opacity:1;
  }
  100% {
    left:828px;
    top:2280px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}*/

/* Iwani edits box styles */
/*.scene4 .explanationOrange, .scene6 .explanationBlue { color: #333; background: #fff; border: 10px double #d05571; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; }*/
