/******** PB & MT DEW *******************************/
/******** RESETS ************************************/
body {-webkit-overflow-scrolling: touch;}
*, html, body, ul, li, h1, h2, h3, h4, h5, h6, form, p { margin: 0; padding: 0; }
ul, li { list-style: none; }
img { border: none; }

/******** STRUCTURE & SPECIFICS *****************/
/* style, variant, weight, size, line-height, family */

body { background: #1070b0 url(img/bg-.jpg) center top; background-repeat: repeat; height: auto; width: 100%; background-position: 50% 0; background-size: 100% auto; font: normal normal 14px/1.6em 'Merriweather', sans-serif;  color: #333; text-align: center; -webkit-font-smoothing: antialiased;  }
html.parallax body { background-color: #738ea3; background-image: none; }
	.parallax  .scene { font-size: 120%; -webkit-font-smoothing: antialiased; }
	.parallax .scene p { }
	.parallax .scene  strong {  font-family: 'Raleway', sans-serif; }

.wrap { padding: 0; width: 1111px; margin: 0 auto; text-align: left; }
	h1#logo a { display: block; width: 340px; height: 129px; background: url(img/logo.png) no-repeat; }
	h1#logo span { display: none; }
	#nav { font: normal normal 1em/1.4em 'Open Sans', sans-serif;  width: 770px; padding: 50px 0 0; }
	#nav li { width: 14%; float: left; text-align: center; padding: 8px 0 20px; margin: 0 11px; }
	#nav li a  { color: #fff; text-transform: uppercase; font-weight: 500; }
		#nav li.cta { width: auto; margin-right: 0; padding: 0 0 20px; }
		#nav li.cta  a { line-height: normal;  padding: 9px 10px 0 10px; font-size: 0.9em; font-weight: 700; display: block; width: 156px; height: 46px; background: url(img/shopmenu.png) no-repeat;  }
		#nav li.cta:hover { background: none; }
		#nav li.cta1 a { color: #ee3b46; padding-right: 20px; padding-left: 10px; width: 147px; }
		#nav li.cta2 a { color: #0066b0; }
	#nav li:nth-child(3) { padding: 8px 0 20px; }
	#nav a:hover { text-decoration: none; }
	#nav li:hover , #nav li.active { background: url(img/menuhover.png) no-repeat center bottom; } 
#content { }
	.sidebar { width: 365px;  }
	.sidebar.deliveryman { height: 546px;  background: url(img/deliveryman.png) no-repeat; }
	.main {  width: 746px; padding: 20px 0 0; }
	.videoframe { padding: 20px 0 0 24px; width: 714px; height: 477px; background: url(img/videoframe.png) no-repeat; }

/* Insidepages */	
	.videoSingle  { margin: 0 0 10px; position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
	.videoSingle  iframe, .videoSingle  object, .videoSingle  embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }	

	.box { background: #fff; padding: 1em; margin: 0 0 40px;  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
	.box .meta { font-size: 0.8em; padding: 10px 0 0; border-top: 1px solid #eee; }
	.box p { font-family: 'Open Sans'; margin: 0 0 16px; line-height: 1.7em; }
	.box.single strong { color: #666; }
	.box h2 span { font-weight: bold; color: red; }
	.quote { font-size: 1.2em; color: #1d5f9c; margin: 15px 0 10px; padding: 0 0 0 10px; border-left: 8px solid #1d5f9c; }
	.moreExperiments { background: #B0DCFF; }
	.moreExperiments h2 { margin: 0; }

#footer  { padding: 25px 0 25px 25px; }
	#footer h2 { margin: 0 10px 0 0; display: inline-block; font-weight: normal; font-size: 1.1em; color: #fff; text-transform: uppercase; }
	#footer .alignr { display: block; }
	#footer .alignr a { vertical-align: middle; margin: 0 5px; display: inline-block;  width: 47px; height: 47px; background: url(img/social.png) no-repeat; }
	#footer .alignr .twitter { background-position: -47px 0; }
	#footer a.android { width: 232px; background: url(img/androidapp.png) no-repeat;  }
	#footer a.iphone { margin: 0; width: 151px; background: url(img/available-on-appstore.png) no-repeat;  }

/* Parallax page */
#notice { display: none; background: #000; color: #fff; padding: 50px 0; }
#notice a { color: #fff; text-decoration: underline; }

/* Extras */
#backtotop { cursor : pointer; display : none; margin : 0 0 0 1070px; position : fixed; bottom : 10px; font-size : 90%; padding	: 10px; width : 100px; text-align : center; background-color : #000; border-radius : 8px; -webkit-border-radius : 8px; -moz-border-radius : 8px; filter : alpha(opacity=60); -khtml-opacity : 0.6; -moz-opacity : 0.6; opacity	: 0.6; color : #FFF; font-size : 14px; z-index	: 1000; }
#backtotop:hover { filter : alpha(opacity=90); -khtml-opacity : 0.9; -moz-opacity : 0.9; opacity	: 0.9; }
.bottomNav { display: none; font-family: 'Open Sans'; margin: 20px 0 0; background: #445661; width: 100%; padding: 10px 0; color: #bad3e7; }
.bottomNav p { padding: 5px 10px 10px 10px; border-bottom: 1px solid #536875; }
.bottomNav p.CTA { border: 0; padding-bottom: 0; }
.bottomNav a { color: #bab0a7; }
.bottomNav a:hover, .bottomNav a.active { text-decoration: none; color: #f3ff39; border-bottom: 2px solid #f3ff39; }
.bottomNav .floatr a { color: #CACC78; }
img.postImg { margin: 0 0 10px;  outline: 0; max-width: 100%; height: auto;}

/******** REPEATS ********************************/
h1,h2,h3,h4,p,ul,ol,table { margin-bottom: 10px; }

a { color: #0864a3; text-decoration: none; }
a:hover { color: #158ada; text-decoration: underline; }

.clearfix { display: inline-block; }
.clearfix:after { display: block; height: 0; clear: both; content: ".";  visibility: hidden; }
i { clear: both; display: block; }

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.floatl { float: left; }
.floatr { float: right; }
.alignr { text-align: right; }

h1,h2,h3  { font-family: Arial, sans-serif; text-rendering: optimizeLegibility; }  

h1 { font-size: 2em;  }
h2 { font-size: 1.5em; }
h3 { font-size: 1.1em; }
h1.page-title { background: #748fa4; border-bottom: 4px solid #5c768b; border-top: 1px solid #87a5bd; margin: 15px 0 0; padding: 10px; color: #fff; }

/* Green Button */
p.cupid-green { margin: 20px 0; font-family: 'Open Sans'; font-size: 0.9em; }
p.cupid-green a { text-decoration: none; background-color: #7fbf4d; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f)); background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f); background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f); background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f); background-image: -o-linear-gradient(top, #7fbf4d, #63a62f); background-image: linear-gradient(top, #7fbf4d, #63a62f); border: 1px solid #63a62f; border-bottom: 1px solid #5b992b; border-radius: 5px; -webkit-box-shadow: inset 0 1px 0 0 #96ca6d; box-shadow: inset 0 1px 0 0 #96ca6d; color: #fff; padding: 7px 10px 8px 10px;  text-align: center; text-shadow: 0 -1px 0 #4c9021; }
p.cupid-green a:hover { background-color: #76b347; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e)); background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e); background-image: -moz-linear-gradient(top, #76b347, #5e9e2e); background-image: -ms-linear-gradient(top, #76b347, #5e9e2e); background-image: -o-linear-gradient(top, #76b347, #5e9e2e); background-image: linear-gradient(top, #76b347, #5e9e2e); -webkit-box-shadow: inset 0 1px 0 0 #8dbf67; box-shadow: inset 0 1px 0 0 #8dbf67; cursor: pointer; }
p.cupid-green a:active { border: 1px solid #5b992b; border-bottom: 1px solid #538c27; -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }

/* Blink NEW! */
.box h2 span {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}